<header class="header-wrapper">
  <h2>Produtos</h2>
  <button mat-button (click)="openDialog()">Open dialog</button>
</header>

<app-poc-input></app-poc-input>

<p>Form Status: {{ produtoForm.status }}</p>

<form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome Produto</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'nome'"
      [errorStateMatcher]="matcher"
      placeholder="Ex. Mouse"
    />
    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    <mat-hint>Parece está tudo certo!</mat-hint>
    <!-- <mat-error
      *ngIf="
        produtoForm.get('nome')?.hasError('email') &&
        !produtoForm.get('nome')?.hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error> -->
    <mat-error *ngIf="produtoForm.get('nome')?.hasError('required')">
      Nome é <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Preço</mat-label>
    <input
      type="number"
      matInput
      [formControlName]="'preco'"
      [errorStateMatcher]="matcher"
      placeholder="Ex. R$ 10,00"
    />

    <mat-hint>Parece está tudo certo!</mat-hint>

    <mat-error *ngIf="produtoForm.get('preco')?.hasError('required')">
      Preço é <strong>obrigatório</strong>
    </mat-error>
    <mat-error
      *ngIf="
        produtoForm.get('preco')?.hasError('min') &&
        !produtoForm.get('preco')?.hasError('required')
      "
    >
      O valor mínimo é
      {{ extractFieldValue(produtoForm.get("preco")?.getError("min"), "min") }}
    </mat-error>
  </mat-form-field>

  <!-- <label for="product-price">Preço: </label>
  <input id="product-price" type="number" formControlName="preco" /> -->

  <div formGroupName="promocao">
    <label for="street">Promoção: </label>
    <input id="street" type="text" formControlName="id" />
  </div>

  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!produtoForm.valid">Submit</button>
</form>

<div class="produtos-wrapper">
  <div *ngFor="let produto of produtos">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ produto.nome }}</mat-card-title>
      </mat-card-header>
      <!-- TODO: Adicionar imagem produto -->
      <div class="p-relative">
        <img
          class="image-cover"
          src="https://picsum.photos/200/300?random=1"
          alt="Random photo from picsum"
        />

        <div *ngIf="produto.promocao" class="badge-promocao-container">
          <mat-chip *ngIf="produto.promocao.leveX" color="primary" selected>
            {{ produto.promocao.leveX }} pague {{ produto.promocao.pagueY }}
          </mat-chip>
          <mat-chip *ngIf="produto.promocao.compreX" color="accent" selected>
            {{ produto.promocao.compreX }} por {{ produto.promocao.porY }}
          </mat-chip>
        </div>
      </div>
      <mat-card-content>
        {{ produto.preco | currency }}
      </mat-card-content>
      <mat-card-actions
        style="display: flex; gap: 0.5rem; flex-direction: row-reverse"
      >
        <button mat-raised-button color="primary">Adicionar</button>
        <button mat-stroked-button color="accent">Remover</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
