.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.produtos-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.image-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.p-relative {
  position: relative;
}

.badge-promocao-container {
  position: absolute;
  top: calc(1rem / 2);
  right: calc(1rem / 2);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  gap: 1rem;
  width: 400px;

  > * {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
