<p>carrinho works!</p>

<table *ngIf="showTableLegacy">
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Quantidade</th>
      <th>Preço</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let produtoItem of carrinho$ | async">
      <td>imagem</td>
      <td>
        <strong>{{ produtoItem.nome }}</strong>
        <span>{{ produtoItem.preco | currency }}</span>
      </td>
      <td>
        <div>
          <button
            mat-icon-button
            type="button"
            (click)="handleDecrementItem(produtoItem)"
          >
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
          <input type="number" readOnly [value]="produtoItem.quantidade" />
          <button
            mat-icon-button
            type="button"
            (click)="handleIncrementItem(produtoItem)"
          >
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </td>
      <td>
        <!-- TODO preco x quantidade -->
        <strong>{{ produtoItem.preco | currency }}</strong>
      </td>
      <td>
        <button
          mat-icon-button
          type="button"
          (click)="handleRemoveItem(produtoItem)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <!-- <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container> -->

  <!-- Position Column -->
  <ng-container matColumnDef="item">
    <th mat-header-cell *matHeaderCellDef>Item</th>
    <td mat-cell *matCellDef="let element">
      <!-- {{ element.position }} -->

      <strong>{{ element.nome }}</strong>
      <span>{{ element.preco | currency }}</span>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="quantidade">
    <th mat-header-cell *matHeaderCellDef>Quantidade</th>
    <td mat-cell *matCellDef="let element">
      <!-- {{ element.name }} -->

      <div>
        <button
          mat-icon-button
          type="button"
          (click)="handleDecrementItem(element)"
        >
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <input type="number" readOnly [value]="element.quantidade" />
        <button
          mat-icon-button
          type="button"
          (click)="handleIncrementItem(element)"
        >
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef>Preço</th>
    <td mat-cell *matCellDef="let element">
      <!-- {{ element.weight }} -->
      <!-- TODO preco x quantidade -->
      <strong>{{ element.preco | currency }}</strong>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="promocao">
    <th mat-header-cell *matHeaderCellDef>Promoção</th>
    <td mat-cell *matCellDef="let element">
      <!-- {{ element.symbol }} -->
      {{ element?.promocao?.nome }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="selection.toggle(row)"
  ></tr>
</table>
